.top
{
    height: 80px;
    background: #ff00ff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10PX;
    // padding: 3PX;

    .img
    {
        width: 28PX;
        height: 28PX;
    }

    .left
    {
        .img{
            margin-right: 15PX;
        }
    }
    .right
    {
        .img{
            margin-left: 15PX;
            justify-content: space-around;
        }
    }

}
